.container {
  display: block;
}
.us {
  display: block;
}
.us-num {
  display: block;
}
.us-theme {
  display: block;
}
.us-needs {
  display: block;
}
.us-ac {
  display: block;
}
.us-value {
  display: block;
}